#timerContainer {
    display: flex;
}

#timer {
    margin-left: 24px;
}

.topright {
    position: absolute;
    top: 30px;
    right: 62px;
}

.middleright {
    position: absolute;
    top: 70px;
    right: 62px;
}

.containers {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
  }
  .texts p {
    color: black;
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .texts p.replay {
    text-align: right;
  }
  